{% extends "layouts/application.html" %}
{% block title %}Сайт {{ url[1] }}{% endblock %}
{% block main %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert" >{{ message }}</div>
        {% endfor %}
   {% endif %}
{% endwith %}
<h1>Сайт {{ url[1] }}</h1>

    <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ url[0] }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ url[1] }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ url[2].strftime("%Y-%m-%d") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}